extends base.pug

block scripts 
    script(src="/static/index.js")

block style
    style
        include ../static/style.css
        include ../static/styleAbout.css

block content
    div.containerAbout
        h3 About 
        p Avadhoot Autade founded JOY ARTS FOUNDATION in 2016 to provide a platform to address social causes and concerns. JOY makes dance available across age, gender, caste, class and ability; without prejudice. JOY endeavors to use the power of dance as a therapeutic medium to bring joy to individuals from lower economic backgrounds, individuals with intellectual disability, developmental disability, visual impairment, hearing impairment, speech impairment and makes dance a viable & respected career option. JOY also provides educational and medical support.

        |Through its various programs, JOY has made dance acceptable and made people understand its power to educate, entertain, empower, enlighten and enable. JOY has touched the lives of over 15,000 individuals across over 280 NGOs/Institutes in 13 cities in India.
    div.containerAbout
        h3 Mission 
        P Everybody experiences and shares the power of dance and the performing arts and its ability to change the world.
    div.containerAbout
        h3 Vision 
        p  JOY makes dance available across gender, caste, class and ability - healing and empowering in the process. It provides a platform to address social causes and concerns, and makes dance a viable & respected career option.

