doctype html
html
  head
    title Avadhoot Dance Academy
    block scripts
    block style
        

  body
    nav#navbar 
        ul 
            div#logo
                img(src="/static/logo.png")
                | ADA
            li #[a(href="/") Home]
            li #[a(href="/about") About]
            li #[a(href="/services") Services] 
            li #[a(href="/contact") Contact Us] 
    block content
    block foot
    footer#footer
        | Copyright © 2021 AvadhootAcademy.com | All Rights Reserved 